<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= stylesheet type="text/css" href= vicws/mahasiswa/sc.css >
    <!-- <style>
        *{
            background-color: aquamarine;
        }
    </style> -->
</head>
<body>
    <form>
        <div>
            <fieldset class="black">
                
            </fieldset>
            <h1><a href="test.html">go to test.html</a></h1>
        </div>
    </form>
</body>
</html>